body {
  margin: 0 auto;
  font-family: sans-serif;
  overflow-y: scroll;
}

header {
  background: #eee;
  height: 120px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  position: fixed;
  top: 0;
}

.resultContainer {
    display: flex;
    flex-wrap: wrap;
    /* padding: 5px; */
    /* justify-content: space-between; */
    overflow-y: scroll;
    height: calc(100% - 4rem);
    /* width: 100%; */
    scrollbar-width: 20px;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    scrollbar-width: thick;
}


.searchContainer {
    width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-right: 40px;
    margin-bottom: 40px;
    min-width: 450px;
}

.resultContainer > div > div {
  display: flex;
  align-items: center;
  /* width: 25%; */
  justify-content: center;
  overflow: hidden;
  height: auto;
}

.resultContainer.showFrames > div > div {
  width: 25%;
}

.resultContainer img {
    width: 100px;
    height: 100px;
    padding: 5px;
    position: relative;
    display: block;
}

.resultContainer img.preview{
  width: 80px;
  height: 80px;
}

.resultContainer:not(.showFrames) img:before {
    background: #eee;
    width: 200%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}


.resultContainer:not(.showFrames) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.searchNavigation {
    box-sizing: border-box;
    padding: 10px 5px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    height: 4rem;
}

.searches {
    display: flex;
    padding: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    padding: 5px 8px;
}

.radiobuttons {
    display: flex;
    /* padding: 20px 0; */
    font-size: 2rem;
    margin-left: 0.5em;
}

label.radiobutton {
    /* padding-right: 15px; */
    font-family: sans-serif;
    letter-spacing: .05em;
}


header > input, header > label {
    margin: 0 3rem;
}

.menu {
    position: absolute;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    top: 0;
}

div.menu > label, div.menu > button {
    margin-left: 0;
}


span.label {
  text-transform: uppercase;
  letter-spacing: .03em;
}
