<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" type="text/css" href="css/icons.css" />
  <link rel="stylesheet" type="text/css" href="css/radio-buttons.css" />
  <link rel="stylesheet" type="text/css" href="css/vue.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
  <section class="app">
    <header class="header">
      <div class="tabs">
        <ul class="">
          <li v-for="w of getWorkspaces" :class="{ tab: true, selected: visibility == w.id }" >
            <a :href="'#/' + w.id" >{{ w.id }}</a>
              <div class="menu">
                <button v-if="w.id != 'default'" class="destroy" @click="removeWorkspace(w)">X</button>
              </div>
          </li>
          </li>
          <li class="tab new"><input href="#" :class="{green: getTabCheck, red: !getTabCheck}" placeholder="new tab" v-model="newTab" @keyup.enter="addTab" /></li>
        </ul>
      </div>


      </div>
      <input class="new-search" autofocus autocomplete="off" placeholder="enter new search" v-model="newSearch" @keyup.enter="addSearch">

    </header>
    <section class="main" v-show="searches.length" v-cloak>

      <ul class="dive-layout searches">
        <li v-for="search in filteredSearches" class="search searchContainer" :key="search.id" :class="{ marked: search.marked, editing: search == editedSearch }">
          <div class="view">
            <div class="menu">
              <button class="destroy" @click="removeSearch(search)"></button>
            </div>
            <div class="searchNavigation">
              <input placeholder="Suchbegriff" v-model="search.title" />
              <div class="radiobuttons">
                <label class="radiobutton">
                  <input type="radio" v-model="search.frames" :name="search.id" :checked="search.frames" value="1">
                  <span class="iconmark icon-frames"></span>
                </label>

                <label class="radiobutton">
                  <input type="radio"  v-model="search.frames" :name="search.id" :checked="!search.frames" value="">
                  <span class="iconmark icon-scene"></span>
                </label>
              </div>
            </div>
            <div :class="{ showFrames: search.frames, resultContainer: true }">
              <div>
                <div v-for="foto in fotos">
                  <img class="preview" v-if="!search.frames" :src="'https://picsum.photos/300/300?id=' + (foto - 1)" />
                  <img :src="'https://picsum.photos/300/300?id=' + foto" />
                  <img class="preview"  v-if="!search.frames" :src="'https://picsum.photos/300/300?id=' + (foto + 1)" />
                </div>
              </div>
            </div>
          </div>
          <input class="edit" type="text" v-model="search.title" v-search-focus="search == editedSearch" @blur="doneEdit(search)" @keyup.enter="doneEdit(search)" @keyup.esc="cancelEdit(search)">
        </li>
      </ul>
    </section>
    <footer class="footer" v-show="searches.length" v-cloak>
      <span class="search-count">
        Searches: <strong>{{ all }}</strong>
      </span>
    </footer>
  </section>
</body>
<script src="script.js"></script>

</html>
