body {
  margin: 0 auto;
}

header {
  background: #eee;
  height: 120px;
}

.resultContainer {
    display: flex;
    flex-wrap: wrap;
    /* padding: 5px; */
    /* justify-content: space-between; */
}

.searchContainer {
    width: 440px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-right: 40px;
}

.resultContainer img {
    width: 100px;
    height: 100px;
    padding: 5px;
}


.searchNavigation {
    margin: 10px 5px;
    margin-bottom: 20px;
}

.searches {
    display: flex;
    padding: 50px;
}

input {
    padding: 5px 8px;
}

.radiobuttons {
    display: flex;
    margin: 20px 0;
}

label.radiobutton {
    padding-right: 15px;
    font-family: sans-serif;
    letter-spacing: .05em;
}
