.icon-frames {
  background-image: url("../icons/frames.svg");
}

.icon-scene {
  background-image: url("../icons/scene.svg");
}

button.maximize, .icon-maximize {
  background-image: url("../icons/maximize.svg");
}
