#logOverlay {
  color: white;
  background-color: black;
  opacity: 0.75;
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#logOverlay > * {
  margin: 2px;
}

.logButton {
  cursor: pointer;
}
.logButton:hover {
  color: #a6cee3;
}

// enabled state
.toggleLogButton  {
  &.enabledLog {
    color: #4daf4a;
  }
}
.toggleLogButton:hover {
  &.enabledLog:hover {
    color: #e41a1c;
  }
}
// disabled state
.toggleLogButton {
    cursor: pointer;
    color: #e41a1c;
}
.toggleLogButton:hover {
    color: #4daf4a;
}


.timedisplay {
  color: black;
  // height: 1.5em;
  // line-height: 1.5em;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  background-color: lightgray;
  border-radius: 5px;
}
