.videoWindow {
  // override default absolute pos
  position: fixed !important;
  // height: 100%;
  // cursor: pointer;
  // // background-color: red;
  // border: 2px solid gold;
  box-shadow: 0 0 0 100px inset, 0 0 10px grey;
  z-index: 1050;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.videoDragBar {

  width: 100%;
  // width: auto;
  color: white;
  text-align: center;
  height: 20px;
  cursor: move;
  // border: 2px solid green;
  // z-index: 1100;
}

.videoCloseButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

.frameSubmitButton {
  position: absolute;
  left: 5px;
  top: 5px;
}

.videoButton {
  cursor: pointer;
}
.videoButton:hover {
  color: #a6cee3;
}

.flashvideoborder {
  border: 1px #ff0000 solid;

  animation: blink 1s;
  animation-iteration-count: 3;
  transition: width 2s;
}
@keyframes blink { 50% { border-color:#fff; }  }
