.confirm_submission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirm_image {
  // display: block;
  width: 60%;
  // transform: translate(-50%, -50%);
}

.confirm_image canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
