ul.pagination {
    display: flex;

    li {
      margin: 0 5px;
    }

    li.active {
      font-weight: bold;
    }

    a {
      display: block;
      color: #000;
      border: 1px solid #bbb;
      padding: .1em .3em;
    }
}
